<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateusz Guściora</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Sofadi One" rel="stylesheet">
    <link rel="icon" href="static/images/avatar.png">
</head>
<body>
    <div class="top-container">
        <img class ="top-cloud" src ="static/images/cloud.png" alt="cloud">
        <div class="title-text">
            <h1>Hello</h1>
            <h2>I am a <span class="pro">pro</span>grammer.</h2>
         </div>

        <div class="profile">
            <img src="static/images/avatar.png" alt="avatar-profile-img">
            <p class="intro"> AI engineer | Data Scientist | Lifeguard | Swimming Coach.<br> I ❤️ music and sports. I have a deep interest in neuroscience and the mechanisms of emotions.</p>
        </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
    </div>

    <hr>

    <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
            <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

            <h3>Tech Stack</h3>
            <p>I code mainly in python but in c++ and R aswell. TensorFlow, Pytorch, HuggingFace,
                 Audio processing, Image Processing, NLP, LLMs,
                 Analyzing, Preprocessing, Visualizing,
                 Pandas, Numpy SQL, powerBI, Tableau, Cloud, Docker, GIT, Azure</p>
          </div>
          <div class="skill-row">
            <img class="chilli-img" src="static/images/chillies.png" alt="chillies-img">
            <h3>Soft Skills</h3>
            <p> Analytical and Logical thinking, Problem Solving
                Teamwork, Planning and Organizing, Responsibility, Creative and Criticial thinking,
                Adaptability, Agility
            </p>
        </div>

            <div class="skill-row">
                <img class="tongue-img" src="static/images/tongue.png" alt="tongue.png">

            <h3>Langs</h3>
            <ul>
                <li>Polish - Native</li>
                <li>English - C1</li>
                <li>German - B1 </li>
            </ul>
        </div>

        </div>
        <hr>
    </div>


    <div class="education">
        <h2>Education.</h2>
        <div class="skill-row">
            <h3> Master of Science</h3>
           <p>2022-2024| Wroclaw University of Science and Technology(WUST), Faculty of Information and Communication Technology,Applied Computer Science (MSc.)</p> 
          </div>
          <div class="skill-row">
            <h3>Engineer</h3>
            <p>2017-2021| WUST, Faculty of Computer Science and Mgmt,Management Engineering, spec. IT in business (BEng.)</p>        
        </div>

    <hr>
  
    <div class="bottom-container">
        <a class="footer-link" href="http://www.linkedin.com/in/mateusz-gu%C5%9Bciora-7613aa21a">
            <img src="static/images/linkedin.ico" alt="LinkedIn Icon" class="icon"> LinkedIn
        </a>
        <a class="btn" href="mailto:mate.gusciora@gmial.com">@ EMAIL</a>
        <a class="footer-link" href="https://github.com/marentoo?tab=repositories">
            <img src="static/images/github.png" alt="Github Icon" class="icon"> Github
        </a>
    </div>
    
</body>
</html>